* {
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
}
.main-container >div{
    width: 100%;
    border: 1px solid black;
    display: grid;
  
}

.main-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr ;
    grid-template-rows:  0.9fr 1.8fr 0.43fr;   
    height: 200vh;  

}

.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   
    
    
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr ;

}

.grid-3{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 3fr;
}

.side-img{
   grid-row: span 2;
}


.grid-1 >div{
    display: grid;
    
}
.grid-2 >div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border: 1px solid black;
    background-color: bisque;
}

.grid-3 >div{
    display: grid;
     justify-items: center;
    border: 1px solid black;

    
}

.g1-content-container img{
width: 75%;    

}

.g1-content-container{
    margin-left: 10px;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns:  1.2fr 0.2fr 1.12fr;
}

.g1-content-container >div{
    display: grid;
 
}

.g1-title-grid{
    display: grid;
    justify-content: end;
    
    align-items: center;
    height: 100%;
}

.g1-title-grid h4{
    color: #9fa3a7;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 0.8em;
    width: 80%;
}

.g1-title-grid h3{
    font-family: Arvo, sans-serif;
    width: 100%;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.3em;
}


.g1-content-container-2{
    background-color: #f7f8f9;
    /* grid-template-rows: 1fr  ; */
    justify-items: center;
    align-items: center;
    
    text-align: center;
}

.g1-content-container-2 div{
  display: grid;
  width: 60%;
  font-family: Arvo, sans-serif;;
}

.g1-content-container-2 h3{
    font-size: 0.8em; color: #9fa3a7;
    font-weight: 800;

}

.g1-content-container-2 a{
    color: #18b1d3;
 

}


.g1-content-container-2 h2{
 font-size: 3em;
 width: 100%;
    
 font-weight: 300;

 

}