* {
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.main-container >div{
    width: 100%;
   
    display: grid;
  
}

.main-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr ;
    grid-template-rows:  0.9fr 1.8fr 0.43fr;   
    height: 200vh;  

}

.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   
    
    
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr ;

}

.grid-3{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 3fr;
}

.side-img{
   grid-row: span 2;
   background-color: #8f76bc;
}


.grid-1 >div{
    display: grid;
    
}
.grid-2 >div{
    display: grid;

    /* background-color: bisque; */
}

.grid-3 >div{
    display: grid;
     justify-items: center;
  

    
}

.g1-content-container img{
width: 75%;    

}

.g1-content-container{
    margin-left: 10px;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns:  1.2fr 0.2fr 1.12fr;
}

.g1-content-container >div{
    display: grid;
 
}

.g1-title-grid{
    display: grid;
    justify-content: end;
    
    align-items: center;
    height: 100%;
}

.g1-title-grid h4{
    color: #9fa3a7;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 0.8em;
    width: 80%;
}

.g1-title-grid h3{
    font-family: Arvo, sans-serif;
    width: 100%;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.3em;
}


.g1-content-container-2{
    background-color: #f7f8f9;
    /* grid-template-rows: 1fr  ; */
    justify-items: center;
    align-items: center;
    align-items: center;
    text-align: center;
}

.g1-content-container-2 div{
  display: grid;
  width: 60%;
  font-family: Arvo, sans-serif;;
  
 
}

.g1-content-container-2 h3{
    font-size: 0.8em; color: #9fa3a7;
    font-weight: 800;

}

.g1-content-container-2 a{
    color: #18b1d3;
 

}


.g1-content-container-2 h2{
 font-size: 3em;
 width: 100%;
    
 font-weight: 300;

 

}


.g2-content-container{
    background-color: #f05638;
    display: grid;

 align-items: center;
 justify-content: center;

}
.g2-content-container >div{
    height: 80%;
}


.g2-content-container img{
  width: 100%;

}

.g2-content-container img{
    width: 80%;
  
  }

  .g2-content-container h3{
   text-align: center;
   color: white;
   font-size: 1.5em;
   font-family: Arvo, sans-serif;;
  }

  .g2-content-container h4{
    text-align: center;
    color: rgba(229, 229, 14, 0.876);
   
   }





   .keyboard-div{
    display: grid;
    align-items: center;
    justify-items: center;
   }

   .keyboard-div h3{
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
   }

   .keyboard-div div{
    display: grid;
    justify-items: center;
   }

   .g2-content-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: end;
  
   }

   
   .g2-content-container-2 div{
    display: grid;
    
  
   }
   .g2-content-container-2 p{
   color: #9fa3a7;
   line-height: 1.4em;
   width: 75%;
   margin-left: 10px;
    
  
   }

   .g2-content-container-2 h4{
    display: grid;
    font-size: 1.3em;
    width: 55%;
    margin-left: 10px;
     justify-self: center;
   font-weight: 400;
    }


 .download-title{
    align-self: normal;
    margin-top: 10px;
    color: #18b1d3;
    margin-left: 10px;
    font-weight: 600;
 }


 .side-img-grid{
    display: grid;
    
    grid-template-rows: 1.2fr 1fr;
    justify-items: center;
   
 }

 .floppy-grid{
    align-self: self-end;
    color: white;
   height: 70%;
 }

 .purple-circle{
    background-color: #8166b0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;

    align-self: center;
    justify-items: center;
    align-items: center;
    
 }

 .Popular-title{
    background-color: #8b72b6;
    margin-top: 4;

    border-radius: 25px;
    width: 30%;
    text-align: center;
 }

 .Popular-title::before{
    font-family: FontAwesome;
    padding-right: 3px;
    content: "\f024";color: #ffff00;
 }
 .purple-circle img{

    width: 60%;
 }

 .icloud-grid h3{
    text-align: center;
    font-size: 2em;
   
 }
 .icloud-grid {
    color: white;
   
   
 }

 .icloud-grid p{
    color: white;
    font-size: 1.1em;
    width: 80%;
   
 }


 .icloud-button{

    background-color: #ffc80a;
    border-radius: 15px;
    
    border: 0px solid black;
    border-radius: 25px;
    padding: 20px;
    font-size:0.8em;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    

 }


 .icloud-grid * {
    display: grid;
    justify-items: center;
    margin-top: 10px;
   
 }


 .controller-container{
    display: grid;
    justify-items: center;
    align-items: center;
}

.controller-container * {
    display: grid;
    justify-items: center;
    align-self: center;
    margin-bottom: 10px;
}

.controller-container img {
    width: 70%;

}

.controller-container h3{
    font-size: 1.6em;
    font-weight: 400;

   
}


.controller-container a{
    font-size: 1em;
    font-weight: 400;
    color: #18b1d3;
    
   
}

.laptop{
    display: grid;
    grid-template-rows: 1fr 2.2fr 5fr ;
    align-items: end;
    justify-items: center;
    background-color: #93b6b7;
}

.laptop-button{
    align-self: normal;
    justify-self: left;
  

}
.laptop-button > button {
    margin: 10px;
    background-color: #fa684f;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 0.6em;
    color: white;
    border: 0px solid black;
    
 
}
.laptop img{
 width: 80%;
}

.laptop div{
    display: grid;
}

.laptop h3{
    color: white;
    font-size: 1.7em;
    margin-bottom: 10px;

}

.twitter-grid{
   color: white;
    background-color: #38d5f4;
     
}

.twitter-circle{
    background-color: #35cfed;
    width: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 60%;
    
}


.twitter-grid img{
    width: 25%;
}

.twitter-grid h3{
    width: 45%;
    justify-self: center;
   align-self: start;
   text-align: center;
}

.better-button-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.better-button-container p{
    font-size: 1.5em;
    width: 80%;
    
}

.better-button >button {
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 0.6em;
    align-items: end;
    background-color: #7bc424;
    border-radius: 10px;
    border: 0px solid black;
    color: white;
}

.better-button-p{
    display: grid;
   justify-items: end;
    
    
}

.better-button {
   align-self: end;
}

.tv-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background-color: #2c2c2c;
  
}

.tv-paragrah{
    justify-self: start;
     
    display: grid;
    align-content: center;
    color: white;
    width: 45%;
    font-size: 1.2em;
}

.tv-img-container{
    display: grid;
    justify-items: center;
    width: 100%;
}
.tv-img-container img{
 width:60%;

 
}


.g2-content-container-2 span{

    color: rgb(169, 169, 169);
    font-size: 0.8em;
}